jupyter
isoduration
jedi
jinja2
joblib
json5
jsonpointer
jsonschema
jupyter
kiwisolver
lxml
markdown
markupsafe
matplotlib==3.7
mistune
naked
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
markerpath 
python-box
ghstack 
importlib-metadata
twine 
torchsummary
torchinfo
pandas==1.3.5
ggtoolset
einops
tfrecord
pytest-mock
rich
seaborn
onnx
tensorflow

